.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial;
    max-width: 1000px;
    margin-top: 5px;
}

.spot-name {
   margin: 0px;
   margin-top: 5px;
   font-size: larger;
}

.spot-location {
    margin: 2px;
    font-size: small;
}

.image-container {
    display: flex;
    border: 2px solid black;
    max-width: 1000px;
    width: 1000px;
    height: 600px;
}

.image-container div {
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.spot-detail-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}