.manage-spot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-spot-contents {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.manage-spot-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.manage-spot-header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.manage-spot-header button{
    width: 200px;
    background-color: rgb(236, 236, 201);
    border-radius: 5px;
    cursor: pointer;
}

.manage-spot-buttons {
    display: flex;
    gap: 10px;
}

.manage-spot-buttons button {
    background-color: rgb(244, 241, 211);
    border-radius: 3px;
    width: 100px;
    cursor: pointer;
}

.manage-spot-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.manage-spot-image-contents {
    display: flex;
}

.manage-spot-image-panels {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 400px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}

.manage-spot-image-panels h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.manage-spot-image-panels h5 {
    margin-top: 5px;
    margin-bottom: 10px;
}