.manage-spot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manage-spot-header {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.manage-spot-header h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.manage-spot-header button{
    width: 200px;
    background-color: rgb(236, 236, 201);
    border-radius: 5px;
    cursor: pointer;
}

.manage-spot-buttons {
    display: flex;
    gap: 10px;
}

.manage-spot-buttons button {
    background-color: rgb(244, 241, 211);
    border-radius: 3px;
    width: 100px;
}